@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.activenav {
    @apply font-bold;
  }
.nav {
    @apply text-secondary ml-4 hover:italic;
}

:root{

    font-family: 'Space Mono', monospace;
    background: #16151F;
}

p{
background: transparent;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}